langchain
langgraph
langchainhub
langchain-community
langchain-google-genai
langchain-openai
langchain-qdrant
langchain-text-splitters
tiktoken
beautifulsoup4
python-dotenv
feedparser
python-dateutil
requests
streamlit

